section#step-2.columns.box(v-if="wizardStep==2")
    .column.is-two-fifths
        progress.progress.is-small.is-link(value='40' max='100')
        .scrollable
            .control
                | Select App Type:
                span.tag.is-primary.is-light {{typeOfApp}}
                br
                label.radio
                    input(
                        v-model="typeOfApp" 
                        value="Free" 
                        type="radio"
                        )
                    |   Free
                br
                label.radio
                    input(
                        v-model="typeOfApp" 
                        value="Open Source" 
                        type="radio"
                        )
                    |   Open Source
                br
                label.radio
                    input(
                        v-model="typeOfApp" 
                        value="Freemium" 
                        type="radio"
                        )
                    |   Freemium
                br
                label.radio
                    input(
                        v-model="typeOfApp" 
                        value="Ad Supported" 
                        type="radio"
                        )
                    |   Ad Supported
                br
                label.radio
                    input(
                        v-model="typeOfApp" 
                        value="Commercial" 
                        type="radio"
                        )
                    |   Commercial
            br
        .buttons.has-addons.is-right
            button.button(@click="prevStep()") Prev
            button.button.is-link.is-selected(@click="nextStep()") Next
    .column.is-information
        img.center-block.sidebar-img(src="images/app_graphics/step_1.svg")