section#step-6.columns(v-if="wizardStep==6")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(70)
            .scrollable.content
                .control
                    | Select owner type:
                    span.tag.is-primary.is-light {{typeOfDev}}
                    br
                    label.radio
                        input(
                            v-model="typeOfDev" 
                            value="Individual" 
                            type="radio"
                            )
                        |   Individual
                    br
                    label.radio
                        input(
                            v-model="typeOfDev" 
                            value="Company" 
                            type="radio"
                            )
                        |   Company
                br
                .control(v-if="typeOfDev=='Company'")
                    .field
                        label.label Company Name
                        .control
                            input#companyName.input(
                                v-bind:class="{ 'is-danger': (companyName.length == 0 && typeOfDev=='Company') }"
                                placeholder="Company Name" 
                                v-model="companyName" 
                                required=""
                                type="text"
                                )
                        p.help(v-bind:class="{ 'is-danger': (companyName.length == 0 && typeOfDev=='Company') }" v-show="(companyName.length == 0 && typeOfDev=='Company')") Company Name is required.
                .control(v-if="typeOfDev=='Individual'")
                    .field
                        label.label Developer Name
                        .control
                            input#devName.input(
                                v-bind:class="{ 'is-danger': (devName.length == 0 && typeOfDev=='Individual') }"
                                placeholder="Developer Name" 
                                v-model="devName" 
                                required=""
                                type="text"
                                )
                        p.help(v-bind:class="{ 'is-danger': (devName.length == 0 && typeOfDev=='Individual') }" v-show="(devName.length == 0 && typeOfDev=='Individual')") Developer Name is required.
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='nextStep' :class="{ 'is-disabled': !canAdvance }") Next
    +wizardSidebar