section#step-2.columns(v-if='wizardStep==2')
    .column.card
        .card-content
            p
                a(
                    href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' 
                    target='_blank' 
                    rel='noopener noreferrer') App Privacy Policy Generator
            progress.progress.is-small.is-link(value='16' max='100')
            .scrollable.content
                .control
                    | Type: 
                    label.radio
                        input(
                            v-model="typeOfPolicyInt" 
                            value="1" 
                            type="radio"
                            )
                        |   Simple
                    if noTracking
                        label.radio
                            input(
                                v-model="typeOfPolicyInt" 
                                value="2" 
                                type="radio"
                                )
                            |   No Tracking
                    if gdpr
                        label.radio
                            input(
                                v-model="typeOfPolicyInt" 
                                value="3" 
                                type="radio"
                                )
                            |   GDPR
                br
                .control
                    .field
                        label.label App Name
                        .control
                            input#appName.input(
                                v-bind:class="{ 'is-danger': (appName.length == 0) }" 
                                placeholder="Awesome App Name" 
                                v-model="appName" 
                                required="" 
                                type="text"
                                )
                        p.help(v-bind:class="{ 'is-danger': (appName.length == 0) }" v-show="(appName.length == 0)") Application Name is required.
                br
                .control
                    .field
                        label.label Contact Information
                        .control
                            input#appContact.input(
                                v-bind:class="{ 'is-danger': (appContact.length == 0) }" 
                                placeholder="Email Address" 
                                v-model="appContact" 
                                required="" 
                                type="email"
                                )
                        p.help(v-bind:class="{ 'is-danger': (appContact.length == 0) }" v-show="(appContact.length == 0)") Email address is required.
                br
                .control
                    .field
                        label.label Policy Effective Date
                        .control
                            input#effectiveFromDate.input.is-primary(
                                v-model="effectiveFromDate" 
                                required="" 
                                type="date"
                                )
                br
                .control(v-show="typeOfPolicyInt!=2")
                    .field
                        label.label Personally Identifiable Information
                        .control
                            input#pidInfoIn.input(
                                placeholder="Email, userId, age, gender, etc" 
                                v-model="pidInfoIn" 
                                type="text"
                                )
                        p.help.has-text-grey Personally Identifiable Information you collect (comma separated)
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='nextStep') Next
    .column.is-information.is-hidden-touch
        img.center-block.sidebar-img(src='images/app_graphics/side_image.svg')