section#step-4.columns(v-if="wizardStep==4")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(42)
            .scrollable.content
                .control
                    | {{ translate('wizard.step4.selectAppType') }}
                    span.tag.is-primary.is-light {{typeOfApp}}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Free" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step4.free') }}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Open Source" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step4.openSource') }}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Freemium" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step4.freemium') }}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Ad Supported" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step4.adSupported') }}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Commercial" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step4.commercial') }}
                br
                div.block(v-show='typeOfPolicyInt!=2')
                    input(v-model="isLocationTracked" id="locationcheckbox" type="checkbox")
                    label(for="locationcheckbox")
                        span.checkbox-logo 📍
                        strong {{ translate('wizard.step4.locationTracked') }}
                    br
                    input(v-model="isAIUsed" id="aicheckbox" type="checkbox")
                    label(for="aicheckbox")
                        span.checkbox-logo 🤖
                        strong {{ translate('wizard.step4.aiUsed') }}
                    br
                    input(v-model="hasDataDeletion" id="datadeletioncheckbox" type="checkbox")
                    label(for="datadeletioncheckbox")
                        span.checkbox-logo 🗑️
                        strong {{ translate('wizard.step4.dataDeletion') }}
        footer.card-footer
            a.card-footer-item(@click='prevStep') {{ translate('wizard.step4.previous') }}
            a.card-footer-item(@click='nextStep') {{ translate('wizard.step4.next') }}
    +wizardSidebar