section#step-7.columns(v-if="wizardStep==7")
    .column.card
        .card-content
            p
                a(
                    href='https://github.com/nisrulz/app-privacy-policy-generator#app-privacy-policy-generator' 
                    target='_blank' 
                    rel='noopener noreferrer') App Privacy Policy Generator
            progress.progress.is-small.is-primary(value='100' max='100')
            .scrollable.content
                .notification.is-warning
                    p While App Privacy Policy Generator is completely FREE
                        | , it takes money to keep it running and updated.
                        | If you are able to, then consider contributing by:
                    ol
                        li
                            a(
                                rel="noopener noreferrer" 
                                target="_blank" 
                                href="https://github.com/sponsors/nisrulz"
                                ) Sponsoring me on Github 👨🏻‍💻
                        li
                            a(
                                rel="noopener noreferrer" 
                                target="_blank" 
                                href="https://ko-fi.com/nisrulz"
                                ) Buying me a cup of ☕
                        p
                    p If you are unable to contribute with funds, consider sharing it with your friends:
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://twitter.com/intent/tweet?text=%F0%9F%93%9D%20App%20Privacy%20Policy%20Generator%3A%20A%20free%20web-app%20to%20generate%20a%20generic%20privacy%20policy%20for%20your%20Android%2FiOS%2FKaiOS%20%F0%9F%93%B1%20apps%20%F0%9F%9A%80%20%7C%20Built%20by%20%40nisrulz%20%20%E2%9C%85%20Web%20App%3A%20https%3A%2F%2Fapp-privacy-policy-generator.nisrulz.com%20%E2%9C%85%20Checkout%20Reviews%3A%20https%3A%2F%2Fgithub.com%2Fnisrulz%2Fapp-privacy-policy-generator%2Fissues%2F65%20%F0%9F%91%A8%F0%9F%8F%BB%E2%80%8D%F0%9F%92%BB%20%23appg%20%23free%20%23app%20%23privacy%20%23policy%20%23generator%20%20"
                            )  Twitter,
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://www.linkedin.com/shareArticle?mini=true&url=https://app-privacy-policy-generator.nisrulz.com/"
                            )  Linkedin,
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fapp-privacy-policy-generator.nisrulz.com%2F"
                            )  Facebook,
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://reddit.com/submit?url=https://app-privacy-policy-generator.nisrulz.com/&title=%F0%9F%93%9D%20App%20Privacy%20Policy%20Generator"
                            )  Reddit
                    p ...or adding a review/comment in the project's
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://github.com/nisrulz/app-privacy-policy-generator/issues/65"
                            )  GuestBook 🤗
                p Now sit back and choose the type of document you want to generate.
                    br
                    p.has-text-grey-light
                        | The accuracy of the generated privacy policy and terms & conditions on this website is not legally binding. Use at your own risk.
                    p
                        a.has-text-danger(
                            rel="noopener noreferrer" 
                            @click="toggleDisclaimerModalVisibility"
                            ) Read the full Disclaimer here
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='togglePrivacyModalVisibility' 
                rel="noopener noreferrer" 
                v-if="typeOfPolicyInt==1"
                ) Privacy Policy
            if noTracking
                a.card-footer-item(@click='toggleNoTrackingPrivacyPolicyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==2"
                    ) Privacy Policy
            if gdpr
                a.card-footer-item(@click='toggleGDPRPrivacyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==3"
                    ) Privacy Policy
            a.card-footer-item(@click='toggleTermsModalVisibility' rel="noopener noreferrer") Terms & Conditions
    .column.is-information.is-hidden-touch
        img.center-block.sidebar-img(src='images/app_graphics/side_image.svg')
