section#step-5.columns(v-if="wizardStep==5")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(56)
            .scrollable.content
                .control
                    | Platform Type:
                    span.tag.is-primary.is-light {{platformType}}
                    br
                    label.radio
                        input(
                            v-model="platformType"
                            value="Mobile App"
                            type="radio"
                            )
                        |   Mobile App
                    br
                    label.radio
                        input(
                            v-model="platformType"
                            value="Web App"
                            type="radio"
                            )
                        |   Web App
                    br
                    label.radio
                        input(
                            v-model="platformType"
                            value="Both"
                            type="radio"
                            )
                        |   Both
                    br
                    br
                    .control(v-if="platformType !== 'Web App'")
                        | Select Mobile OS:
                        span.tag.is-primary.is-light {{osType}}
                        br
                        label.radio
                            input(
                                v-model="osType"
                                value="Android"
                                type="radio"
                                )
                            |   Android
                        br
                        label.radio
                            input(
                                v-model="osType"
                                value="iOS"
                                type="radio"
                                )
                            |   iOS
                        br
                        label.radio
                            input(
                                v-model="osType"
                                value="KaiOS"
                                type="radio"
                                )
                            |   KaiOS
                        br
                        label.radio
                            input(
                                v-model="osType"
                                value="Android & iOS"
                                type="radio"
                                )
                            |   Android & iOS
                        br
                        label.radio
                            input(
                                v-model="osType"
                                value="Android, iOS & KaiOS"
                                type="radio"
                                )
                            |   Android, iOS & KaiOS
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='nextStep') Next
    +wizardSidebar