section#step-2.columns(v-if='wizardStep==2')
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(16)
            .scrollable.content
                .control
                    | {{ translate('wizard.step2.type') }}
                    label.radio
                        input(
                            v-model="typeOfPolicyInt" 
                            value="1" 
                            type="radio"
                            )
                        |   {{ translate('wizard.step2.simple') }}
                    if noTracking
                        label.radio
                            input(
                                v-model="typeOfPolicyInt" 
                                value="2" 
                                type="radio"
                                )
                            |   {{ translate('wizard.step2.noTracking') }}
                    if gdpr
                        label.radio
                            input(
                                v-model="typeOfPolicyInt" 
                                value="3" 
                                type="radio"
                                )
                            |   {{ translate('wizard.step2.gdpr') }}
                br
                .control
                    .field
                        label.label(for="appName") {{ translate('wizard.step2.appName') }}
                        .control
                            input#appName.input(
                                v-bind:class="{ 'is-danger': (appName.length == 0) }" 
                                :placeholder="translate('wizard.step2.appNamePlaceholder')" 
                                v-model="appName" 
                                required="" 
                                type="text"
                                )
                        p.help.has-text-grey(v-show="!(appName.length == 0)") {{ translate('wizard.step2.appNameHelp') }}
                        p.help(v-bind:class="{ 'is-danger': (appName.length == 0) }" v-show="(appName.length == 0)") {{ translate('wizard.step2.appNameRequired') }}
                br
                .control
                    .field
                        label.label(for="appContact") {{ translate('wizard.step2.contactInfo') }}
                        .control
                            input#appContact.input(
                                v-bind:class="{ 'is-danger': (appContact.length == 0) }" 
                                :placeholder="translate('wizard.step2.contactPlaceholder')" 
                                v-model="appContact" 
                                required="" 
                                type="email"
                                )
                        p.help.has-text-grey(v-show="!(appContact.length == 0)") {{ translate('wizard.step2.contactHelp') }}
                        p.help(v-bind:class="{ 'is-danger': (appContact.length == 0) }" v-show="(appContact.length == 0)") {{ translate('wizard.step2.contactRequired') }}
                br
                .control(v-show="typeOfPolicyInt==3")
                    .field
                        label.label(for="euRepresentative") {{ translate('wizard.step2.euRepresentative') }}
                        .control
                            input#euRepresentative.input(
                                :placeholder="translate('wizard.step2.euRepresentativePlaceholder')"
                                v-model="euRepresentative" 
                                type="text"
                                )
                        p.help.has-text-grey {{ translate('wizard.step2.euRepresentativeHelp') }}
        footer.card-footer
            a.card-footer-item(@click='prevStep') {{ translate('wizard.step2.previous') }}
            a.card-footer-item(@click='nextStep' :class="{ 'is-disabled': !canAdvance }") {{ translate('wizard.step2.next') }}
    +wizardSidebar
