section#step-8.columns(v-if="wizardStep==8")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(100)
            .scrollable.content
                .notification.is-warning
                    p
                        | {{ translate('wizard.step8.supportTitle') }}
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://github.com/sponsors/nisrulz"
                            ) {{ translate('wizard.step8.sponsor') }}
                        | , 
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://ko-fi.com/nisrulz"
                            ) {{ translate('wizard.step8.buyMeCoffee') }}
                        | , 
                        a(
                            rel="noopener noreferrer" 
                            target="_blank" 
                            href="https://app-privacy-policy-generator.nisrulz.com/"
                            ) {{ translate('wizard.step8.shareIt') }}
                        | , or 
                        a(
                            href='/reviews.html'
                            target='_blank'
                            rel='noopener noreferrer'
                            ) {{ translate('wizard.step8.leaveReview') }}
                        | .
                p {{ translate('wizard.step8.chooseDoc') }}
                    br
                    a.has-info(
                        rel="noopener noreferrer" 
                        @click="toggleFaqModalVisibility"
                            ) {{ translate('wizard.step8.readFaq') }}
                    p.has-text-grey-light
                        | {{ translate('wizard.step8.disclaimerNote') }}
                    p(style='margin-bottom: 0;')
                        a.has-text-danger(
                            rel="noopener noreferrer" 
                            @click="toggleDisclaimerModalVisibility"
                            ) {{ translate('wizard.step8.readDisclaimer') }}
        footer.card-footer
            a.card-footer-item(@click='prevStep') {{ translate('wizard.step8.previous') }}
            a.card-footer-item(@click='togglePrivacyModalVisibility' 
                rel="noopener noreferrer" 
                v-if="typeOfPolicyInt==1"
                ) {{ translate('wizard.step8.privacyPolicy') }}
            if noTracking
                a.card-footer-item(@click='toggleNoTrackingPrivacyPolicyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==2"
                    ) {{ translate('wizard.step8.privacyPolicy') }}
            if gdpr
                a.card-footer-item(@click='toggleGDPRPrivacyModalVisibility' 
                    rel="noopener noreferrer" 
                    v-if="typeOfPolicyInt==3"
                    ) {{ translate('wizard.step8.privacyPolicy') }}
            a.card-footer-item(@click='toggleTermsModalVisibility' rel="noopener noreferrer") {{ translate('wizard.step8.termsConditions') }}
    +wizardSidebar
