section#step-4.columns.box(v-if="wizardStep==4")
    .column.is-two-fifths
        progress.progress.is-small.is-link(value='80' max='100')
        .scrollable
            .control(v-show="typeOfPolicyInt==1")
                | Select owner type:
                span.tag.is-primary.is-light {{typeOfDev}}
                br
                label.radio
                    input(
                        v-model="typeOfDev" 
                        value="Individual" 
                        type="radio"
                        )
                    |   Individual
                br
                label.radio
                    input(
                        v-model="typeOfDev" 
                        value="Company" 
                        type="radio"
                        )
                    |   Company
            .control(v-if="typeOfDev=='Company'")
                .field
                    label.label Company Name
                    .control
                        input#companyName.input.is-primary(
                            placeholder="Company Name" 
                            v-model="companyName" 
                            type="text"
                            )
            .control(v-if="typeOfDev=='Individual'")
                .field
                    label.label Developer Name
                    .control
                        input#devName.input.is-primary(
                            placeholder="Developer Name" 
                            v-model="devName" 
                            type="text"
                            )
        .buttons.has-addons.is-right
            button.button(@click="prevStep()") Prev
            button.button.is-link.is-selected(@click="nextStep()") Next
    .column.is-information
        img.center-block.sidebar-img(src="images/app_graphics/step_1.svg")