section#step-4.columns(v-if="wizardStep==4")
    .column.card
        .card-content
            +wizardMobileLogo
            +wizardProgress(42)
            .scrollable.content
                .control
                    | Select App Type:
                    span.tag.is-primary.is-light {{typeOfApp}}
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Free" 
                            type="radio"
                            )
                        |   Free
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Open Source" 
                            type="radio"
                            )
                        |   Open Source
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Freemium" 
                            type="radio"
                            )
                        |   Freemium
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Ad Supported" 
                            type="radio"
                            )
                        |   Ad Supported
                    br
                    label.radio
                        input(
                            v-model="typeOfApp" 
                            value="Commercial" 
                            type="radio"
                            )
                        |   Commercial
                br
                div.block(v-show='typeOfPolicyInt!=2')
                    input(v-model="isLocationTracked" id="locationcheckbox" type="checkbox")
                    label(for="locationcheckbox")
                        span.checkbox-logo 📍
                        strong Is Location tracked ?
                    br
                    input(v-model="isAIUsed" id="aicheckbox" type="checkbox")
                    label(for="aicheckbox")
                        span.checkbox-logo 🤖
                        strong Is AI used ?
                    br
                    input(v-model="hasDataDeletion" id="datadeletioncheckbox" type="checkbox")
                    label(for="datadeletioncheckbox")
                        span.checkbox-logo 🗑️
                        strong Include Data Deletion instructions
        footer.card-footer
            a.card-footer-item(@click='prevStep') Previous
            a.card-footer-item(@click='nextStep') Next
    +wizardSidebar